.header {
    height: 300px;
    background: #1F2937;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    
  }

.top-header {
  display: flex;
  justify-content: space-between;
/*  margin-left: 650px;
  margin-right: 650px;
 */
  justify-content: center;
  gap: 350px;
  padding-top: 10px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 11px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#logo-name {
  color: #F9FAF8;
  font-size: 24px;
  
}

.main-content-header .text-data .title {
  color: #F9FAF8;
  font-size: 48px;
  width: 400px;
  font-weight: bolder;
}

.main-content-header {
  display: flex;
  justify-content: center;
/*  margin-left: 650px;
  margin-right: 650px;
*/
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 120px;
}

.Sign-up {
  background-color: #689fec;
  color: white;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.main-content-header .text-data .text {
  width: 300px;
  color: #e5e7eb;
  font-size: smaller;
}

.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-content .container-images {
  display: flex;
  gap: 80px;
}

.second-content .title {
  font-size: 46px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}

.images {
  border-radius: 25px;
}

.image-a {
    display: flex;
    flex-direction: column;
    width: 100px;  
    align-items: center;
    
}

.image-a .description-image {
  flex:1;
}

.image-b {
  display: flex;
  flex-direction: column;
  width: 100px;  
  align-items: center;
}

.image-c {
  display: flex;
  flex-direction: column;
  width: 100px;  
  align-items: center;
}

.image-d {
  display: flex;
  flex-direction: column;
  width: 100px;  
  align-items: center;
}


.third-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #e5e7eb;
  padding-right : 600px;
}

.quote {
  width: 700px;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin-top: 100px;
}

.name-quote {
  font-weight: bold;
  margin-bottom: 100px;
}

.fourth-content {
  display: flex;
  justify-content: center;
  color: #e5e7eb;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 14px;
  padding-left: 200px;
  width: 700px;
  height: 40px;
  padding: 32px;
  margin: 15px;
  justify-content: center;
  gap: 200px;
  background-color: rgb(49, 114, 212);
  
}

.Sign-up-fourth {
  align-self: flex-end;
}

.call-action {
  font-weight: bolder;
  font-size: large;
}

.Sign-up-fourth {
  background-color: rgb(49, 114, 212);
  color: #eee;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-block-color: white;
  border-inline-color: white;
}

.footer {
  display: flex;
  background: #1F2937;
  justify-content: center;
  color: #e5e7eb;
}